*:focus,
input:focus {
  outline: none !important;
  border-color: inherit;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  box-shadow: none;
}

html {
  font-size: 12px;
}

html,
body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background: #040404;
}
body {
  background-color: transparent;
}

main {
  height: calc(100vh - 92px);
}

.edit-head-btn {
  &.hidden {
    display: none;
  }
}

.editor-tabs {
  display: flex;
  align-items: flex-end;
}

.editor-tab-btn {
  border-radius: 0px;
  &.selected {
    background-color: #2b3e50 !important;
    border-color: #2b3e50 !important;
  }
}

.editor-container-outer {
  height: 100%;
  width: 50vw;
  &.full-width {
    width: 100%;
  }
  &.hidden {
    display: none !important;
  }
}

.editor-console-outer {
  height: 100%;
  width: 50vw;
  &.full-width {
    width: 100%;
  }
  &.hidden {
    display: none !important;
  }
}

.control-container {
  background-color: rgba(#556573, 1);

  .iframe-console-btn {
    border-radius: 0px 0px 0px 0px;
  }

  .right-controls {
    display: flex;

    .pop-out-preview-group {
      cursor: pointer !important;

      &.hidden {
        display: none;
      }

      &:hover {
        background-color: #d1d3d6;
        border-color: #d1d3d6;
        //color: #fff;
      }

      label {
        pointer-events: none;
        margin-left: 0.75rem;
      }
    }

    #pop-out-preview {
      pointer-events: none;
    }

    .clear-console-btn {
      margin-left: 1rem;

      &.hidden {
        display: none;
      }
    }
  }
}

.editor-inner {
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.iframe-preview {
  width: 100%;
  height: 100%;
  background-color: #fff;

  &.hidden {
    display: none;
  }
  iframe {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #fff;
  }
}

.CodeMirror {
  //height: 100%;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  font-size: 1.25rem;
}

.CodeMirror-selected {
  background: #cccccc !important;
}

.CodeMirror-scroll {
  max-height: 100%;
}

.modal-dialog {
  max-width: 50vw !important;
}

.toggle-btns {
  width: 100%;
  background-color: #556573;
  // border-bottom: solid 2px #38434c;
  // justify-content: space-around;
}
